*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header{
    background-color: rgb(85, 130, 185);
    padding: 16px 0;
    color: #fff;
    

}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #fff;
    text-decoration: none;
}

.container{
    width: 1340px;
    margin: 0 auto;
    
}

.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.articles article img{
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 24px;
}

#cience{
    background-color: rgba(0, 255 , 0, 0.2);

}

#cience .articles article a{
    background-color: rgb(79, 79, 209);
}

#Internet{
    background-color: rgb(255, 0, 0, 0.2);
}

#Internet .articles article a{
    background-color: rgb(255, 59, 59);
}

#sports{
    background-color: rgba(0, 0 , 225, 0.2);
}

#sports .articles article a{
    background-color: blueviolet;

}

#economy{
    background-color: rgba(127, 127, 212, 0.2);

}

#economy .articles article a{
    background-color: rgb(241, 178, 42);


}